{% extends 'layout.html' %} {% block header %}
<div class="row">
  <img src="" alt="" />
  <div class="p-name"></div>
</div>
{% endblock header %} {% block content %}
<div class="row">
  <ul>
    <li>Name: {{ pokemon.name }}</li>
    <li>Weight: {{ pokemon.weight }}</li>
    <li>Species: {{ pokemon.species }}</li>
    <li>Types: {{ ", ".join(pokemon.types) }}</li>
    <li>Abilities: {{ ", ".join(pokemon.abilities) }}</li>
  </ul>
</div>
<!-- TODO: add script toggle display -->
<button>Display Abilities?</button>
<div class="abilities">
  <ul>
    {% for ability in abilities %}
    <li>{{ ability.name }}: {{ ability.value }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
